*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Cairo,sans-serif;
}

body{
    background-image: url('../images/img3.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.d1{
    width: 400px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    display: grid;
    grid-template-rows: 25% 75%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.f{
    width: 400px;
    height: 45px;
    position: absolute;
    top: -5%;
    left: 50%;   
    align-items: center;   
    padding: 0px 15px;
    font-size: 14px;
    letter-spacing: 0.3px;   
    transform: translate(-50%,-100%);
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.f1{
    color: rgb(235, 79, 87);
    background-color: rgb(255, 192, 192);
    display: flex;
}

.f2{
    color: rgb(8, 133, 70);
    background-color: rgb(171, 235, 192);
    display: flex;
}
    
    


.s1,.s2{
    display: none;
}


.z1{
    background: rgb(235, 234, 234);
    display: grid;
    align-items: center;
    justify-content: center;
}

.sp{
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(124, 121, 121);
}

.z2{
    background: rgb(241, 241, 241);
    display: grid;
    align-items: center;
    padding: 20px 40px 20px 40px;
}

.in{
    padding: 3px 8px 3px 8px;
    outline: none;
    border: 1px solid rgb(241, 238, 238);
    box-shadow: inset 0px 0.5px 0px 0px grey;
    font-size: 15px;
}

.in,.btn{
    height: 70%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.btn{
    border: none;
    outline: none;
    background: rgb(0, 183, 255);;
    height: 80%;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}


@media(max-width:450px){
    .d1{
        height: 250px;
        width: 80%;
        padding: 0px;
        background: none;
    }

    .in,.btn{
        padding: 0px 5px 0px 5px;
        
    }

    .f{
        width: 100%;
    }

    .sp{
        color: white;
    }

    .z1{
        background: none;
    }

    .z2{
        padding: 0px;
        background: none;
    }

    body{
        background: black;
    }
}