*{
    box-sizing: border-box;
    font-family: Cairo , sans-serif;
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #eee;
    height: 220%;
    direction: rtl;
}

.nav{
    background: rgb(250, 248, 248);
    box-shadow: 0px 0px 1px gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height:8%;
    padding:0px 70px;
    display: flex;
    align-items: center;
    z-index: 3;
}

.i1{
    font-size: 40px;
}

.lbl{
    font-size: 25px;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.ul{
    position: absolute;
    left:40%;
    width:50%;
    height:100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,calc(100% / 4)) ;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.ul li a{
    font-size: 18px;
    font-variant: small-caps;
    color: black;
    
}

.lb1{
    position: absolute;
    right:2%;
    font-size: 25px;
    display: none;
}

.in{
    display: none;
}

.d{
    height:175%;
    width: 100%;
    padding:50px 120px;
    
    position: absolute;
    top:8%;
    left:0;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(3,32%);
    gap: 2%;
}

.cen{
    display: flex;
    align-items: center;
}

div.m1{
    display: grid;
    grid-template-columns: repeat(3,32.5%);
    gap: calc(2.5% / 2);
    width:100%;
    height: calc(100% / 3);

   
    

}

.y1{
    
    box-shadow: 0px 0px 1px gray;
    background: white;
    padding:15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13% 10% 62% 15%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
}


.lbl2{
    color: rgb(212, 208, 208);
    font-size: 12px;
    
    
}

.z1{
    font-size: 14px;
    word-spacing: 2px;
}

.z2{
    justify-content: space-between;
}


.i1{
    font-size: 30px;
}

.i2{
    
    font-size: 11px;
}

.i3{
    font-size: 11px;
    color: red;
}

.z4{
    font-size: 12px;
    margin-top:2% ;
    
}

.img{
    width: 100%;
    height: 100%;
    
}

.m2{
   
    width: 131px;
    height:40px;
    position: absolute;
    left: 50%;
    top:185%;
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,40px);
    grid-template-rows: 1fr;
    gap: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.m2 button{
    background-color: rgb(255, 81, 0);
    color:white;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


@media(max-width:1000px){
    .z1{
        font-size: 13px;
    }

    .z4{
        font-size: 11px;
    }

    .sp{
        font-size: 10px;
    }
}

@media(max-width:958px){
    .d{
        grid-template-columns: repeat(2,48.5%);
        
    }

    .m2{
        top: 275%;
    }

    body{
        height:320%;
    }

    .lbl{
        font-size: 25px;
    }

    .ul{
        width:55%;
        left:40%;
    
    }

    .z1{
        font-size: 13px;
    }

    .z4{
        font-size: 12px;
    }

    .sp{
        font-size: 10px;
    }

    
}

@media (max-width:858px) {
    

    
    .z1{
        font-size: 13px;
    }

    .z4{
        font-size: 11px;
    }

    .sp{
        font-size: 9px;
    }

    .lb1{
        display: block;
    }

    .ul{
        position: fixed;
        top:8%;
        left: 50%;
        background-color: black;
        width: 100%;
        height: 92%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,25%);
        z-index: 3;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin-left: 100%;
}

    .lbl, .q1{
        display: none;
    }

    .ul li a{
        color: white;
    }
    
    .in:checked ~ .ul{
        margin-left: 0%;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        
    }

    .ul li:first-child a{
        padding:10px;
        background: rgb(0, 102, 255);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .ul li:not(:first-child) a:hover{
        color: rgb(0, 89, 255);
    }
    
    .in.checked ~ .d,.in.checked ~ .m2{
        display:none;
    }
    

    
}


@media(max-width:678px){
    .d{
        grid-template-columns: repeat(1,100%);
    }

    .m2{
        top: 435%;
    }

    body{
        height:480%;
    }
}
